.taskbarparameters {
  padding: 15px 30px;
  margin: 10px 20px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  border: 1px solid #eee;
  background: rgb(154, 206, 124);
  border-radius: 10px;
  line-height: 2em;
  border: 1px solid #aaa;
}

::placeholder {
  color: rgb(255, 255, 255);
}

.body  {
  background-image: url("https://www.freecodecamp.org/news/content/images/2021/06/w-qjCHPZbeXCQ-unsplash.jpg");
  background-color: #cccccc;
}
